<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/analysis.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/static/imgs/icon.png" class="d-inline-block align-top" height="30" alt="">
        CodeKnife
    </a>
    <span class="badge badge-primary">beta</span>
</nav>
<div class="row" style="min-height: 100%;">
    <div class="v-navbar">
        <h3 class="v-navbar-section">
            Analysis Result
        </h3>
        <ul class="v-navbar-list">
            <li class="v-navbar-item active">
                <a class="v-navbar-item-content" href="/analysis/basic/{{md5}}">
                    Basic Information
                </a>
            </li>
            <li class="v-navbar-item">
                <a class="v-navbar-item-content" href="/analysis/binary/{{md5}}">
                    Binary
                </a>
            </li>
        </ul>
    </div>
    <div class="col" style="background: white;">
        <div class="row">
            <div class="col-4" style="margin: 10px 20px;">
                <div class="section">
                    <div class="section-header">
                        {% if basic_info.icon_path is not none %}
                        <img src="{{ '/static/imgs/icons/' + basic_info.icon_path }}" width="33px" height="33px">
                        <strong>{{ basic_info.display_name }}</strong> / Basic
                        Information
                        {% else %}
                        <strong>{{ basic_info.display_name }}</strong> / Basic
                        Information
                        {% endif %}
                    </div>
                    <p class="item-title">Bundle identifier</p>
                    <p class="item-value">{{ basic_info.bundle_identifier }}</p>
                    <p class="item-title">Executable File</p>
                    <p class="item-value">{{ basic_info.execute_path }}</p>
                    <p class="item-title">Executable File MD5</p>
                    <p class="item-value">{{ basic_info.execute_hash }}</p>
                    <p class="item-title">Platform</p>
                    <p class="item-value">{{ basic_info.platform }}</p>
                    <p class="item-title">Operating System</p>
                    <p class="item-value">{{ basic_info.operating_system }}</p>
                    <p class="item-title">Version</p>
                    <p class="item-value">{{ basic_info.app_version }}</p>
                    <p class="item-title">URL Schemas</p>
                    {% if basic_info.url_schemas|length() == 0 %}
                    <p class="item-value">Empty</p>
                    {% else %}
                    <ul class="item-list" style="max-height: 320px;">
                        {% for schema in basic_info.url_schemas %}
                        <li class="item-list-item">{{ schema + '://' }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="item-title">Supported Document Type</p>
                    {% if basic_info.supported_document_type|length() == 0 %}
                    <p class="item-value">Empty</p>
                    {% else %}
                    <ul class="item-list" style="max-height: 320px;">
                        {% for type in basic_info.supported_document_type %}
                        <li class="item-list-item">{{ type }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="section">
                    <div class="section-header">
                        Compile Information
                    </div>
                    <p class="item-title">SDK Version</p>
                    <p class="item-value">{{ basic_info.SDK_version }}</p>
                    <p class="item-title">SDK Build</p>
                    <p class="item-value">{{ basic_info.SDK_build }}</p>
                    <p class="item-title">Xcode Version</p>
                    <p class="item-value">{{ basic_info.Xcode_version }}</p>
                    <p class="item-title">Xcode Build</p>
                    <p class="item-value">{{ basic_info.Xcode_build }}</p>
                    <p class="item-title">Building Machine OS Build(Developed Machine)</p>
                    <p class="item-value">{{ basic_info.machine_build }}</p>
                    <p class="item-title">Compiler</p>
                    <p class="item-value">{{ basic_info.compiler }}</p>
                </div>
            </div>
            <div class="col" style="margin: 10px 20px;">
                <div class="section">
                    <div class="section-header">
                        Requested Permission
                    </div>
                    {% if basic_info.requested_permissions|length() == 0 %}
                    <p class="item-value">Empty</p>
                    {% else %}
                    <table class="table table-striped item-table">
                        <thead>
                        <tr>
                            <th scope="col">Permission</th>
                            <th scope="col">Description</th>
                            <th scope="col">Request Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for permission, description, reason in basic_info.requested_permissions %}
                        <tr>
                            <td>{{ permission }}</td>
                            <td>{{ description }}</td>
                            <td>{{ reason }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                <div class="section">
                    <div class="section-header">
                        Developed Files
                    </div>
                    {% if basic_info.developed_files|length() == 0 %}
                    <p class="item-value">Empty</p>
                    {% else %}
                    <ul class="item-list" style="max-height: 770px;">
                        {% for directory, f in basic_info.developed_files %}
                        <li class="item-list-item">{{ directory }}<strong>{{ f }}</strong></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
̵
</body>
</html>