.checkers-list {
    font-size: 13px;
}

.checkers-list td {
    font-weight: 500;
}

.checkers-view-switch {
    position: absolute;
    right: 30px;
    top: 7px;
    height: 30px;
    width: 30px;
}

.checkers-view-switch .btn {
    padding: 0 3px 3px;
}

.checkers-view-switch .btn-light {
    background-color: white;
}

.checkers-item {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    width: 120px;
}

.checkers-item p {
    font-size: 13px;
}

.checkers-item p a {
    display: inline-block;
    color: #000;
    font-weight: 500;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checkers-toolbar {
    height: 45px;
    width: 100%;
}

.new-button {
    height: 25px;
    padding: 0 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
}